[phases.setup]
nixPkgs = ["nodejs_22"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["cd packages/server && npm install && npx prisma generate && npm run build"]

[start]
cmd = "cd packages/server && npx prisma migrate deploy && node dist/main.js"
